@using Kentico.Activities.Web.Mvc
@using Kentico.OnlineMarketing.Web.Mvc
@using Kentico.Web.Mvc

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Learning Kit</title>

    @* Renders a canonical link element *@
    <link rel="canonical" href="@Url.Kentico().PageCanonicalUrl()" />

    @*DocSection:VisitorActionScript*@
    @* Registers scripts that ensure logging of campaign page visits and page-related activities *@
    @Html.Kentico().ActivityLoggingScript()
    @*EndDocSection:VisitorActionScript*@

    @*DocSection:AbTestingScript*@
    @* Registers scripts that ensure logging of analytics data for A/B tests *@
    @Html.Kentico().ABTestLoggerScript()
    @*EndDocSection:AbTestingScript*@

    @*DocSection:WebAnalyticsScript*@
    @* Registers scripts that provide logging of web analytics data *@
    @Html.Kentico().WebAnalyticsLoggingScript()
    @*EndDocSection:WebAnalyticsScript*@
</head>
<body>
    @RenderBody()    
</body>
</html>
