@model LearningKit.Models.ProductFilter.ProductFilterViewModel
@using LearningKit.Models.Products

@{
    ViewBag.Title = "Product filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product listing of the LearningProductType with filtering</h2>

<p>
    @Html.ActionLink("> Filter based on an SKU property (price)", "FilterSKUProperty")<br />
    @Html.ActionLink("> Filter based on a foreign SKU property (manufacturers)", "FilterForeignProperty")
</p>

@using (Html.BeginForm())
{
    <h3>Product type property &ndash; LPTWithFeature (boolean)</h3>
    @Html.CheckBoxFor(m => Model.LPTWithFeature)
    <input type="submit" value="Filter" />
}

<hr />

@foreach (ProductListItemViewModel product in Model.FilteredProducts)
{
    <a href="@product.ProductUrl.AbsoluteUrl"><h4>@product.Name</h4></a>

    if (!string.IsNullOrEmpty(product.PublicStatusName))
    {
        <span>@product.PublicStatusName</span>
    }

    if (!string.IsNullOrEmpty(product.ImagePath))
    {
        <img src="@product.ImagePath" alt="@product.Name">
    }

    <div>
        @if (!product.Available)
        {
            <span>Out of stock</span>
        }

        <span>@String.Format(product.PriceModel.CurrencyFormatString, product.PriceModel.Price)</span>

        @if (product.PriceModel.ListPrice > product.PriceModel.Price)
        {
            <s>@String.Format(product.PriceModel.CurrencyFormatString, product.PriceModel.ListPrice)</s>
        }
    </div>
}

<p>
    @Html.ActionLink("> Back to the home index", "Index", "Home")
</p>