@model LearningKit.Models.PageBuilder.PageBuilderModel

@{
    ViewBag.Title = "Page with the page builder";
}

@*DocSection:Using*@
@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc
@*EndDocSection:Using*@

@Html.Kentico().PageBuilderStyles()

<h2>@Model.HeadingText</h2>

<h3>Editable area</h3>
@*DocSection:EditableArea*@
<div>
    @Html.Kentico().EditableArea("area1")
</div>
@*EndDocSection:EditableArea*@

<h3>Editable area with selected default section</h3>
@*DocSection:EditableAreaSection*@
<div>
    @{
        var optionsDefaultSection = new EditableAreaOptions
        {
            DefaultSectionIdentifier = "LearningKit.Sections.Col5050"
        };
    }
    @Html.Kentico().EditableArea("areaWithSection", optionsDefaultSection)
</div>
@*EndDocSection:EditableAreaSection*@

<h3>Limited editable area</h3>
@*DocSection:LimitedEditableArea*@
<div>
    @{
            var optionsLimited = new EditableAreaOptions
            {
                AllowedWidgets = new[] { Kentico.Content.Web.Mvc.SystemComponentIdentifiers.FORM_WIDGET_IDENTIFIER,
                                        "LearningKit.Widgets.NumberWidget",
                                        "LearningKit.Widgets.SomeOtherWidget" },
                AllowedSections = AllowedComponents.ALL
            };
        }
        @Html.Kentico().EditableArea("limitedArea", optionsLimited)
</div>
@*EndDocSection:LimitedEditableArea*@

<p>
    @Html.ActionLink("> Back to the home index", "Index", "Home")
</p>

@*DocSection:RegisterScripts*@
@Html.Kentico().PageBuilderScripts()
@*EndDocSection:RegisterScripts*@